<section class="project-section py-3">

    <h3 class="text-uppercase resume-section-heading mb-4">
        {{ i18n "portfolio" }}
    </h3>

    {{ range .Site.Params.portfolio.list }}

    <div class="item mb-3">

        <div class="item-content">

            <ul class="resume-skills-list">

                {{ range .items }}

                <li class="mb-2">
                    <a class="resume-link" href="{{ .url | safeURL }}">
                        {{ .text }}
                    </a>
                </li>

                {{ end }}

            </ul>
        </div>
    </div><!--//item-->

    {{ end }}

</section><!--//project-section-->
